body {
    background-color:rgb(52, 49, 49);
    color: white;
}

hr {
    color: rgb(7, 146, 146)
}

.card {
    background-color: rgba(144, 140, 140, 0.852);
}

#boton {
    background-color: rgb(38, 199, 228);
   
}

#moneda {
border-radius: 6px;
height: 36px;
}

#miGrafico {
    max-width: 500px;
    max-height: 250px;
}

#resultado {
    margin-top: 25px;
}